.register-div {
  display: flex;
  align-items: center;
}
.register-flare {
  position: absolute;
  z-index: -1;
  top: 4rem;
  left: -10rem;
}
.form-elements input, .form-elements select {
  border-radius: 0.25rem;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: .6rem;
  width: 100%;
  margin-bottom: .4rem;
  color: #fff;
}
.form-elements textarea {
  border-radius: 0.25rem;
  border: 1px solid #fff;
  width: 100%;
  height: 7.4375rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  padding: 1rem;
  color: #fff
}
.register-section {
  padding: 2rem 0;
}
.register-form h2 {
  font-size: 1.5rem;
}
.register-form {
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem 4rem;
}
.register-form header {
  display: flex;
  align-items: flex-end;
}
.register-form-header p {
  margin-bottom: 0;
}
.img-walk {
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
  text-align: center;
}
.img-walk img {
  margin-bottom: -0.6rem;
}
.thumbs-up {
  width: 30rem;
  height: 30rem;
}
p.alert-text {
  font-size: 0.75rem;
}
form .terms-conditions input {
  display: block;
  margin-top: 0.2rem;
}

form .terms-conditions p {
  font-size: 0.75rem;
}
.register-form-elements {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1.5rem;
}
select option {
  color: #000;
  text-transform: capitalize;
}

.form-elements label {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-bg {
  background: rgba(21, 14, 40, 0.93);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translateX(-100%);
  transition: var(--transition);
}
.show-modal {
  transform: translateX(0);
}

.modal-container {
  width: 42rem;
  position: relative;
  border-radius: 0.3125rem;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  padding: 1rem 2rem;
  text-align: center;
}
.modal-img img {
  width: 14rem;
  height: 14rem;
}
.modal-img > :nth-child(1) {
  margin-right: -8.2rem;
}

 div .modal-bg .modal-container .modal-text h4{
    font-size: 1.5rem
  }
