html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "TypoHoopDemo";
  src: url("../customFonts/typo-hoop-demo-cufonfonts/Typo_Hoop_Regular_Demo.otf");
  /* Add more font formats (e.g., woff, woff2) for better compatibility */
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../customFonts/ClashDisplay/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("../customFonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("../customFonts/ClashDisplay/ClashDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

*,
::after,
::before,
#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  max-width: inherit;
  text-align: inherit;
}
:root {
  /* colors */
  --primary: #d434fe;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: #150e28;
  --hoverBackground: rgba(39, 31, 63, 0.3);
  --textColor: #fff;
  --borderRadius: 4px;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  overflow-x: hidden;
}

p {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 0.75rem;
  line-height: 1.3;
  font-family: "ClashDisplay-Semibold";
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: .875rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Montserrat";
  color: var(--white);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  box-shadow: var(--shadow-1);
  text-transform: capitalize;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.6rem 2.4rem;
}
.l-btn {
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  box-shadow: var(--shadow-1);
  text-transform: capitalize;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.6rem 0rem;
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.l-btn a {
  color: white;
  padding: 0.6rem 2.4rem;
}

/* GLOBAL STYLES */
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.primary {
  color: var(--primary);
}
.bright-flare {
  filter: blur(100px) brightness(150%);
  height: 30rem;
  width: 35rem;
  background-color: var(--backgroundColor);
  z-index: -1;
}
.icon {
  font-weight: 780;
  cursor: pointer;
}

.card {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem 0;
}

.card-heading {
  font-size: 2.5rem;
  font-family: "ClashDisplay-Semibold";
}
.card-paragragh {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.71875rem; /* 196.429% */
  display: none;
}
.card-image {
  height: 480px;
}

.margin-top-scroll {
  margin-top: 4rem;
}

@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }
  .card-heading {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.78rem;
 
  }
  .card-image {
    width: 22rem;
    height: 20rem;
  }
  h5 {
  font-size: .75rem;
}
.icon {
    font-size: 1.25rem;
  }
}
